# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       nkpng2k@gmail.com

# Python owners
*.py    nkpng2k@gmail.com
